version: "3.8"

services:

  eureka-service:
    build: ./eureka-service
    container_name: eureka-service
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - "8888:8888"
    depends_on:
      eureka-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: studentdb
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  student-service:
    build: ./student-service
    container_name: student-service
    ports:
      - "8081:8081"
    depends_on:
      config-service:
        condition: service_healthy
      eureka-service:
        condition: service_healthy
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/studentdb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  teacher-service:
    build: ./teacher-service
    container_name: teacher-service
    ports:
      - "8082:8082"
    depends_on:
      config-service:
        condition: service_healthy
      eureka-service:
        condition: service_healthy

  school-service:
    build: ./school-service
    container_name: school-service
    ports:
      - "8083:8083"
    depends_on:
      config-service:
        condition: service_healthy
      eureka-service:
        condition: service_healthy

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "9090:9090"
    depends_on:
      config-service:
        condition: service_healthy
      eureka-service:
        condition: service_healthy
      student-service:
        condition: service_started
      teacher-service:
        condition: service_started
      school-service:
        condition: service_started

volumes:
  mysql-data:
